@import "@fontsource/space-grotesk";
@import "@fontsource/inter";
@import "@fontsource/jetbrains-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-paper text-ink font-body antialiased min-h-screen selection:bg-signal selection:text-white;
  }
}

.technical-border {
  @apply border border-structural;
}
