@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "IBM Plex Sans", sans-serif;
  color-scheme: dark;
}

body {
  @apply bg-[#0F172A] text-slate-100 min-h-screen antialiased;
}

.glass-card {
  @apply bg-white/10 backdrop-blur-lg border border-white/20 rounded-2xl;
}
